{{define "extend"}}
    backend/layout/layout.html
{{end}}

{{define "title"}}附件{{end}}

{{define "css"}}
    <style>
        div[lay-id=j-table] .layui-table-cell {height: auto;}
    </style>
{{end}}

{{define "content"}}
    <blockquote class="layui-elem-quote">
        <div class="layui-inline" style="float: left;width: 255px;">
            <input type="text" value="" id="j-folder" placeholder="自定义文件夹规则：{{.folderRegexp}}" autocomplete="off" class="layui-input">
        </div>
        <div id="j-webUploader" style="float: left;margin-left: 10px;"></div>
        <button id="j-send_btn" class="layui-btn" style="float: left; margin-left: 10px;">开始上传</button>
        <div id="j-webUploader-table"  style="clear: both;"></div>
    </blockquote>

    <blockquote class="layui-elem-quote">
        <div class="layui-inline">
            <form class="layui-form" method="get" action="/backend/article/attachment">
                <div class="layui-inline" style="width: 200px;">
                    <input type="text" name="whereLike[Name]" value="{{.Name}}" placeholder="请输入搜索的文件名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline" style="width: 200px;">
                    <select name="whereEq[Folder]">
                        <option value="">请选择自定义文件夹</option>
                        {{range $_, $v := .folderList}}
                            <option value="{{$v}}" {{if $.Folder}}{{if eq $.Folder $v}}selected{{end}}{{end}}>{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-inline" style="width: 200px;">
                    <select name="whereEq[Ext]">
                        <option value="">请选择文件后缀</option>
                        {{range $_, $v := .extList}}
                            <option value="{{$v}}" {{if $.Ext}}{{if eq $.Ext $v}}selected{{end}}{{end}}>{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                        搜索
                    </button>
                </div>
            </form>
        </div>
    </blockquote>
    <script type="text/html" id="j-toolbar">
        <div class="layui-btn-container">
            <a class="layui-btn layui-btn-sm layui-btn-danger" href="javascript:;" lay-event="del-batch">批量删除</a>
        </div>
    </script>
    <table id="j-table" lay-filter="j-table"></table>
{{end}}

{{define "js"}}
    <script>
        //允许上传的后缀
        var acceptExt = "{{.acceptExt}}";
        //允许上传的文件头
        var acceptMimeTypes = "{{.acceptMimeTypes}}";
        //上传
        layui.use(['layuploader', 'jquery'], function () {
            var layUploader = layui.layuploader;
            var $ = layui.jquery;
            var fc = null;

            layUploader.webUploader.Uploader.register({
                'before-send-file':'checkMd5'
            }, {
                checkMd5: function (file) {
                    //秒传md5校验
                    var owner = this.owner;
                    var deferred = layUploader.webUploader.Deferred();
                    fc.lists.status(file.id, '正在校验md5');
                    owner.md5File(file, 0 ,file.size).progress(function(percentage) {
                        percentage = (percentage * 100).toFixed(0);
                        if(percentage > 2) {
                            percentage = percentage - 1;
                        }
                        fc.lists.progress(file.id, percentage);
                    }).then(function(md5) {
                        $.get('/backend/article/attachment/check/'+md5, function (json) {
                            if(json.code === 0) {
                                owner.skipFile(file);
                                fc.lists.progress(file.id, 100);
                                fc.lists.status(file.id, '秒传成功');
                                deferred.reject();
                            }else {
                                fc.lists.progress(file.id, 0);
                                fc.lists.status(file.id, '正在上传');
                                deferred.resolve();
                            }
                        });
                    });
                    return deferred.promise();
                }
            });

            fc = new layUploader.factory({
                //开始上传按钮的id
                send_btn:'#j-send_btn',
                pick: {
                    //选择文件按钮的id
                    id: '#j-webUploader',
                    label: '<i class="layui-icon layui-icon-upload"></i>选择文件'
                },
                //服务器地址
                server: '/backend/article/attachment/upload',
                //额外的表单信息
                formData:{
                    _token:_token(),
                    folder:function () {
                        return $("#j-folder").val();
                    }
                },
                accept: {
                    extensions: acceptExt,
                    mimeTypes: acceptMimeTypes
                }
            }, {
                //上传列表的表格的id（数据表格）
                elem: '#j-webUploader-table',
            });

            //当文件上传成功时触发
            fc.upload.instance.on( 'uploadSuccess', function(file, response) {
                if(response.code === 0) {
                    fc.lists.progress(file.id, 100);
                    fc.lists.status(file.id, '上传成功');
                }else {
                    fc.lists.progress(file.id, 0);
                    fc.lists.status(file.id, response.message);
                }
            });

            //全部上传完成时候触发
            fc.upload.instance.on('uploadFinished', function() {
                // window.location.reload();
            });
        });
        
        //列表
        layui.use(['table', 'jquery', 'form', 'myUtil'], function() {
            var table = layui.table;
            var $ = layui.jquery;
            var form = layui.form;
            var myUtil = layui.myUtil;
            //渲染表格
            var tableOption = {
                elem: '#j-table'
                ,url: '/backend/article/attachment' //数据接口
                ,toolbar: '#j-toolbar' //开启头部工具栏，并为其绑定左侧模板
                ,page: {
                    curr: 1,
                    where:{},
                } //开启分页
                ,cols: [[ //表头
                    {field: 'ID', type: 'checkbox', fixed: 'left'}
                    ,{field: 'Name', title: '文件名', edit: 'text', templet: function (data) {
                        return data.Name;
                    }}
                    ,{field: 'Path', title: '存储地址', templet: function (data) {
                        let html = '';
                        if(myUtil.isImage(data.Path)) {
                            html += '<img style="max-height: 28px;" src="/'+data.Path+'">';
                        }else {
                            html += data.Path;
                        }
                        html = '<a href="javascript:preview(\'/'+data.Path+'\', \''+myUtil.maskStr(data.Name)+'\');">'+html+'</a>';
                        return html;
                    }}
                    ,{field: 'Size', title: '文件大小', templet: function (data) {
                        return myUtil.renderBytes(data['Size']);
                    }}
                    ,{fixed: 'right', title:'操作', templet:function (data) {
                        let text = '['+data.Name+'](/'+data.Path+' "'+data.Name+'")';
                        if(myUtil.isImage(data.Path)) {
                            text = '!'+text;
                        }
                        text = encodeURIComponent(text);
                        let btn = '';
                        btn += '<a class="layui-btn layui-btn-sm j-copy" data-clipboard-text="'+text+'">复制</a>';
                        if(myUtil.isEditable(data.Path)) {
                            btn += '<a class="layui-btn layui-btn-sm layui-btn-normal" href="/backend/article/attachment/edit/'+data.ID+'">编辑</a>';
                        }
                        btn += '<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>';
                        return btn;
                    }}
                ]]
                ,done: function () {
                    layui.use(['clipboard', 'layer'], function () {
                        var clipboard = layui.clipboard;
                        var layer = layui.layer;
                        var copy = new clipboard('.j-copy', {text: function (target) {
                            return decodeURIComponent(target.getAttribute('data-clipboard-text'));
                        }});
                        copy.on('success', function(e) {
                            layer.tips('成功', e.trigger, {
                                tips: [2, '#FFB800'],
                                time:1000
                            });
                            e.clearSelection();
                        });
                        copy.on('error', function(e) {
                            submit.alertError("失败："+e.text);
                        });
                    });
                }
            };
            var tableIns = table.render(tableOption);

            //监听表格头部操作按钮
            table.on('toolbar(j-table)', function(obj) {
                //批量删除
                if(obj.event === 'del-batch') {
                    var checkStatus = table.checkStatus(obj.config.id);
                    if(checkStatus.data.length === 0) {
                        submit.alertWarning('请勾选数据');
                        return '';
                    }
                    layer.confirm('确定删除吗？', {icon: 3}, function(index) {
                        var param = {ids:[], _method:'put', _token:_token()};
                        checkStatus.data.forEach(function (v) {
                            param.ids.push(v['ID']);
                        });
                        $.post('/backend/article/attachment/delete-batch', param, function (json) {
                            if(json.code === 0) {
                                layer.close(index);
                                //重新渲染表格
                                table.reload(obj.config.id, obj.config);
                            }else {
                                submit.alertError(json.message);
                            }
                        });
                    });
                }
            });

            //监听表格右侧操作按钮
            table.on('tool(j-table)', function(obj) {
                var data = obj.data;
                //单个删除
                if(obj.event === 'del') {
                    layer.confirm('确定删除吗？', {icon: 3}, function(index) {
                        $.get('/backend/article/attachment/delete/'+data['ID']+'?_method=delete', function (json) {
                            if(json.code === 0) {
                                obj.del();
                                layer.close(index);
                            }else {
                                submit.alertError(json.message);
                            }
                        });
                    });
                }
            });

            //监听单元格编辑
            table.on('edit(j-table)', function(obj) {
                $.ajax({
                    type: "POST",
                    url: "/backend/article/attachment/update/"+obj.data.ID,
                    data:{
                        name: obj.data.Name,
                        _method:'put',
                        _token:_token()
                    },
                    success: function(json) {
                        if(json.code !== 0) {
                            submit.alertError(json.message);
                        }
                    }
                });
            });

            //搜索
            layui.form.on('submit(search)', function(data) {
                tableIns.reload({
                    where: data.field
                    ,page: {
                        curr: 1
                    }
                });
                return false;
            });
        });

        /**
         * 预览
         * @param url
         * @param title
         */
        function preview(url, title) {
            layui.use(['myUtil'], function() {
                var myUtil = layui.myUtil;
                if(window.parent.skeleton === undefined) {
                    window.open(url);
                    return;
                }
                var index = (new Date()).getMilliseconds();
                window.parent.skeleton.tab.add(myUtil.unMaskStr(title), url, index);
                window.parent.skeleton.tab.change(index);
            });
        }
    </script>

{{end}}