{{define "title"}}附件{{end}}

{{define "css"}}
{{end}}

{{define "content"}}
    <blockquote class="layui-elem-quote">
        <div class="layui-inline" style="float: left;width: 255px;">
            <input type="text" value="" id="j-folder" placeholder="自定义文件夹规则：{{.folderRegexp}}" autocomplete="off" class="layui-input">
        </div>
        <div id="j-webUploader" style="float: left;margin-left: 10px;"></div>
        <button id="j-send_btn" class="layui-btn" style="float: left; margin-left: 10px;">开始上传</button>
        <div id="j-webUploader-table"  style="clear: both;"></div>
    </blockquote>

    <blockquote class="layui-elem-quote">
        <div class="layui-inline">
            <form class="layui-form" method="get" action="/backend/article/attachment">
                <div class="layui-inline">
                    <input type="text" name="whereLike[Name]" value="{{.Name}}" placeholder="请输入搜索的文件名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline" style="width: 170px;">
                    <select name="whereEq[Folder]">
                        <option value="">请选择自定义文件夹</option>
                        {{range $_, $v := .folderList}}
                            <option value="{{$v}}" {{if $.Folder}}{{if eq $.Folder $v}}selected{{end}}{{end}}>{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-inline" style="width: 170px;">
                    <select name="whereEq[Ext]">
                        <option value="">请选择文件后缀</option>
                        {{range $_, $v := .extList}}
                            <option value="{{$v}}" {{if $.Ext}}{{if eq $.Ext $v}}selected{{end}}{{end}}>{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                        搜索
                    </button>
                </div>
            </form>
        </div>
    </blockquote>
    <script type="text/html" id="j-toolbar">
        <div class="layui-btn-container">
            <a class="layui-btn layui-btn-sm layui-btn-danger" href="javascript:;" lay-event="del-batch">批量删除</a>
        </div>
    </script>
    <table id="j-table" lay-filter="j-table"></table>
    {{._token}}
{{end}}

{{define "js"}}
    <script>
        //上传
        layui.use(['layuploader', 'jquery'], function () {
            var layUploader = layui.layuploader;
            var $ = layui.jquery;
            var fc = null;

            layUploader.webUploader.Uploader.register({
                'before-send-file':'checkMd5'
            }, {
                checkMd5: function (file) {
                    //秒传md5校验
                    var owner = this.owner;
                    var deferred = layUploader.webUploader.Deferred();
                    fc.lists.status(file.id, '正在校验md5');
                    owner.md5File(file, 0 ,file.size).progress(function(percentage) {
                        percentage = (percentage * 100).toFixed(0);
                        if(percentage > 2) {
                            percentage = percentage - 1;
                        }
                        fc.lists.progress(file.id, percentage);
                    }).then(function(md5) {
                        $.get('/backend/article/attachment/check/'+md5, function (json) {
                            if(json.code === 0) {
                                owner.skipFile(file);
                                fc.lists.progress(file.id, 100);
                                fc.lists.status(file.id, '秒传成功');
                                deferred.reject();
                            }else {
                                fc.lists.progress(file.id, 0);
                                fc.lists.status(file.id, '正在上传');
                                deferred.resolve();
                            }
                        });
                    });
                    return deferred.promise();
                }
            });

            fc = new layUploader.factory({
                //开始上传按钮的id
                send_btn:'#j-send_btn',
                pick: {
                    //选择文件按钮的id
                    id: '#j-webUploader',
                    label: '<i class="layui-icon layui-icon-upload"></i>选择文件'
                },
                //服务器地址
                server: '/backend/article/attachment/upload',
                //额外的表单信息
                formData:{
                    _token:$("input[name='_token']").val(),
                    folder:$("#j-folder").val()
                }
            }, {
                //上传列表的表格的id（数据表格）
                elem: '#j-webUploader-table',
            });

            //当文件上传成功时触发
            fc.upload.instance.on( 'uploadSuccess', function(file, response) {
                if(response.code === 0) {
                    fc.lists.progress(file.id, 100);
                    fc.lists.status(file.id, '上传成功');
                }else {
                    fc.lists.progress(file.id, 0);
                    fc.lists.status(file.id, response.message);
                }
            });

            //全部上传完成时候触发
            fc.upload.instance.on('uploadFinished', function() {
                // window.location.reload();
            });
        });
        
        //列表
        layui.use(['table', 'jquery', 'form', 'myUtil'], function() {
            var table = layui.table;
            var $ = layui.jquery;
            var form = layui.form;
            var myUtil = layui.myUtil;
            //渲染表格
            var tableOption = {
                elem: '#j-table'
                ,url: '/backend/article/attachment' //数据接口
                ,toolbar: '#j-toolbar' //开启头部工具栏，并为其绑定左侧模板
                ,page: {
                    curr: 1,
                    where:{},
                } //开启分页
                ,cols: [[ //表头
                    {field: 'ID', type: 'checkbox', fixed: 'left'}
                    ,{field: 'ID', title: 'ID', sort: true, fixed: 'left', width:100}
                    ,{field: 'Name', title: '文件名', edit: 'text'}
                    ,{field: 'Path', title: '存储地址'}
                    ,{field: 'MD5', title: '哈希值'}
                    ,{field: 'Size', title: '文件大小', templet: function (data) {
                            return myUtil.renderBytes(data['Size']);
                        }}
                    ,{field: 'UpdatedAt', width:200, title: '更新时间', templet: function (data) {
                            return moment(data['UpdatedAt']).format('YYYY-MM-DD HH:mm:ss');
                        }}
                    ,{fixed: 'right', title:'操作', width:200, templet:function (data) {
                            let btn = '';
                            btn += '<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>';
                            return btn;
                        }}
                ]]
            };
            var tableIns = table.render(tableOption);

            //监听表格头部操作按钮
            table.on('toolbar(j-table)', function(obj) {
                //批量删除
                if(obj.event === 'del-batch') {
                    var checkStatus = table.checkStatus(obj.config.id);
                    if(checkStatus.data.length === 0) {
                        layer.alert('请勾选数据', {icon: 2});
                        return '';
                    }
                    layer.confirm('确定删除吗？', {icon: 3}, function(index) {
                        var param = {ids:[], _method:'put', _token:document.querySelector("input[name=_token]").value};
                        checkStatus.data.forEach(function (v) {
                            param.ids.push(v['ID']);
                        });
                        $.post('/backend/article/attachment/delete-batch', param, function (json) {
                            if(json.code === 0) {
                                layer.close(index);
                                table.reload(obj.config.id, obj.config);
                            }else {
                                layer.alert(json.message, {icon: 2});
                            }
                        });
                    });
                }
            });

            //监听表格右侧操作按钮
            table.on('tool(j-table)', function(obj) {
                var data = obj.data;
                //单个删除
                if(obj.event === 'del') {
                    layer.confirm('确定删除吗？', {icon: 3}, function(index) {
                        $.get('/backend/article/attachment/delete/'+data['ID']+'?_method=delete', function (json) {
                            if(json.code === 0) {
                                obj.del();
                                layer.close(index);
                            }else {
                                layer.alert(json.message, {icon: 2});
                            }
                        });
                    });
                }
            });

            //监听单元格编辑
            table.on('edit(j-table)', function(obj) {
                $.ajax({
                    type: "POST",
                    url: "/backend/article/attachment/update/"+obj.data.ID,
                    data:{
                        id: obj.data.ID,
                        name: obj.data.Name,
                        _method:'put',
                        _token:document.querySelector("input[name=_token]").value
                    },
                    success: function(json) {
                        if(json.code !== 0) {
                            layer.alert(json.message, {icon: 2});
                        }
                    }
                });
            });

            //搜索
            layui.form.on('submit(search)', function(data) {
                tableIns.reload({
                    where: data.field
                    ,page: {
                        curr: 1
                    }
                });
                return false;
            });
        });
    </script>
{{end}}