{{define "title"}}用户管理{{end}}

{{define "css"}}{{end}}

{{define "content"}}
    <blockquote class="layui-elem-quote">
        <form class="layui-form" method="get" action="/backend/rbac/user">
            <div class="layui-inline">
                <input type="hidden" name="likeField[]" value="Account">
                <input type="text" name="likeValue[]" value="{{if .likeValue}}{{0 | .likeValue.Get}}{{end}}" placeholder="请输入搜索的账号" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-inline" style="width: 170px;">
                <input type="hidden" name="eqField[]" value="Identity">
                <select name="eqValue[]" lay-verify="">
                    <option value="">请选择用户身份</option>
                    <option value="1" {{if .eqValue}}{{if eq (1 | .eqValue.Get) "1"}}selected{{end}}{{end}}>管理人员</option>
                    <option value="2" {{if .eqValue}}{{if eq (1 | .eqValue.Get) "2"}}selected{{end}}{{end}}>普通用户</option>
                </select>
            </div>

            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm layui-btn-normal">
                    搜索
                </button>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-sm" href="/backend/rbac/user/create">新增</a>
            </div>
        </form>
    </blockquote>

    <table class="layui-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>账号</th>
                <th>昵称</th>
                <th>角色</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>登录时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{range $_, $v := .result}}
                <tr>
                    <td>{{$v.ID}}</td>
                    <td>{{$v.Account}}</td>
                    <td>{{$v.Nickname}}</td>
                    <td>{{$v.RoleGroup}}</td>
                    <td>{{$v.StatusText}}</td>
                    <td>{{$v.CreatedAtText}}
                    <td>{{$v.UpdatedAtText}}</td>
                    <td>{{$v.LastTimeText}}</td>
                    <td style="width:120px;">
                        <a class="layui-btn layui-btn-sm" href="/backend/rbac/user/edit/{{$v.ID}}">编辑</a>
                        {{if eq $v.Identity 1}}
                        <a class="layui-btn layui-btn-sm layui-btn-normal" href="/backend/rbac/user/role/{{$v.ID}}">角色</a>
                        {{end}}
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
    <div id="j-laypage"></div>
{{end}}

{{define "js"}}
    <script>
        //渲染表单
        layui.use('form', function() {});

        //设置分页
        var limit = {{.limit}};
        var page = {{.page}};
        var count = {{.count}};
        layui.use(['laypage', 'myUtil'], function() {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'j-laypage',
                limit: limit,
                curr: page,
                count: count,
                layout:['prev', 'page', 'next', 'count'],
                jump: function (obj, first) {
                    if(!first) {
                        window.location.href = layui.myUtil.createPageUrl(obj.curr, obj.limit);
                    }
                }
            });
        });

        function updateQueryStringParameter(uri, key, value) {
            var reg = new RegExp("([?&])" + key.replace(']', '\\]').replace('[', '\\[') + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(reg)) {
                return uri.replace(reg, '$1' + key + "=" + value + '$2');
            }else {
                return uri + separator + key + "=" + value;
            }
        }
    </script>
{{end}}