.*
!.gitignore
config.toml
go.mod
*.exe
/database/database.db
/storage/cache/*
!/storage/cache/git.keep
/storage/logs/*
!/storage/logs/git.keep
/storage/session/*
!/storage/session/git.keep
/uploads/*
!/storage/git.keep