{{define "title"}}我的桌面{{end}}

{{define "css"}}{{end}}

{{define "content"}}
    <a class="layui-btn layui-btn-sm" href="/backend/menu/create/0">新增</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" href="javascript:;" id="j-destroy">批量删除</a>
    <table class="layui-table layui-form" id="j-menu-tree" lay-size="sm"></table>
{{end}}

{{define "js"}}
    <script type="text/javascript">
        layui.use(['treeTable','layer','code','form'],function() {
            var o = layui.$,
                form = layui.form,
                layer = layui.layer,
                treeTable = layui.treeTable;

            // 直接下载后url: './data/table-tree.json',这个配置可能看不到数据，改为data:[],获取自己的实际链接返回json数组
            var	menuTree = treeTable.render({
                elem: '#j-menu-tree',
                url:function () {
                    var result = null;
                    $.ajax({method: 'get', url: '/backend/menu/all', async: false, success: function (json) {
                        result = json.data;
                    }});
                    return result;
                },
                icon_key: 'Name',
                is_checkbox: true,
                end: function(e) {
                    form.render();
                },
                primary_key:'ID',
                parent_key:'Pid',
                cols: [
                    {
                        key: 'Name',
                        title: '菜单名',
                        width: '100px',
                        template: function(item) {
                            return '<span style="color:#1E9FFF;cursor: pointer;">'+item.Name+'</span>';
                        }
                    },
                    {
                        key: 'ID',
                        title: 'ID',
                        width: '100px',
                        align: 'center',
                    },
                    {
                        key: 'Pid',
                        title: '父ID',
                        width: '100px',
                        align: 'center',
                    },
                    {
                        key: 'SortID',
                        title: '排序ID',
                        width: '100px',
                        align: 'center',
                    },
                    {
                        title: '访问路径',
                        align: 'center',
                        template: function(item) {
                            return item.URL;
                        }
                    },
                    {
                        title: '操作',
                        width: '200px',
                        align: 'center',
                        template: function(item) {
                            var btn = '<a class="layui-btn layui-btn-sm" href="/backend/menu/create/'+item.ID+'">新增</a>';
                            btn += '<a class="layui-btn layui-btn-sm layui-btn-normal" href="/backend/menu/edit/'+item.ID+'">编辑</a>';
                            btn += '<a class="layui-btn layui-btn-sm layui-btn-danger" href="/backend/menu/?_method=delete&ids[]='+item.ID+'">删除</a>';
                            return btn;
                        }
                    }
                ]
            });
            //
            // // 监听展开关闭
            // treeTable.on('tree(flex)',function(data){
            //     layer.msg(JSON.stringify(data));
            // });
            //
            // // 监听checkbox选择
            // treeTable.on('tree(box)',function(data){
            //     if(o(data.elem).parents('#tree-table1').length){
            //         var text = [];
            //         o(data.elem).parents('#tree-table1').find('.cbx.layui-form-checked').each(function(){
            //             o(this).parents('[data-pid]').length && text.push(o(this).parents('td').next().find('span').text());
            //         });
            //         o(data.elem).parents('#tree-table1').prev().find('input').val(text.join(','));
            //     }
            //     layer.msg(JSON.stringify(data));
            // });
            //
            // // 监听自定义
            // treeTable.on('tree(add)',function(data){
            //     layer.msg(JSON.stringify(data));
            // });
            //

            //批量删除
            o('#j-destroy').click(function() {
                var ids = treeTable.checked(menuTree);
                if(ids.length === 0) {
                    layer.msg('请勾选目标菜单名');
                    return;
                }
                window.location.href = '/backend/menu/?_method=delete&ids[]='+ids.join('&ids[]=');
            });

            //
            // // 刷新重载树表（一般在异步处理数据后刷新显示）
            // o('.refresh').click(function(){
            //     re.data.push({"id":50,"pid":0,"title":"1-4"},{"id":51,"pid":50,"title":"1-4-1"});
            //     treeTable.render(re);
            // });
            //
            // // 全部展开
            // o('.open-all').click(function(){
            //     treeTable.openAll(re);
            // })
            // // 全部关闭
            // o('.close-all').click(function(){
            //     treeTable.closeAll(re);
            // });
            //
            // // 随机更换小图标
            // o('.change-icon').click(function(){
            //     var arr = [
            //         {
            //             open: 'layui-icon layui-icon-set',
            //             close: 'layui-icon layui-icon-set-fill',
            //             left: 16,
            //         },
            //         {
            //             open: 'layui-icon layui-icon-rate',
            //             close: 'layui-icon layui-icon-rate-solid',
            //             left: 16,
            //         },
            //         {
            //             open: 'layui-icon layui-icon-tread',
            //             close: 'layui-icon layui-icon-praise',
            //             left: 16,
            //         },
            //         {
            //             open: 'layui-icon layui-icon-camera',
            //             close: 'layui-icon layui-icon-camera-fill',
            //             left: 16,
            //         },
            //         {
            //             open: 'layui-icon layui-icon-user',
            //             close: 'layui-icon layui-icon-group',
            //             left: 16,
            //         },
            //     ];
            //     var round = Math.round(Math.random()*(arr.length - 1));
            //     re.icon = arr[round];
            //     treeTable.render(re);
            // });
            //
            // o('#tree1').on('click','[data-down]',function(){
            //     o(this).find('span').length && o(this).parents('.layui-unselect').find('input').val(o(this).text());
            // });
            //
            // o('.layui-select-title').click(function(){
            //     o(this).parent().hasClass('layui-form-selected') ? o(this).next().hide() : o(this).next().show(),o(this).parent().toggleClass('layui-form-selected');
            // });
            //
            // o(document).on("click", function(i) {
            //     !o(i.target).parent().hasClass('layui-select-title') && !o(i.target).parents('table').length && !(!o(i.target).parents('table').length && o(i.target).hasClass('layui-icon')) && o(".layui-form-select").removeClass("layui-form-selected").find('.layui-anim').hide();
            // });
        })
    </script>

{{end}}
