{{define "extend"}}
    backend/layout/layout.html
{{end}}

{{define "title"}}
    {{if .result}}新增{{else}}编辑{{end}}内容
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/resources/asset/layext/dtree/dtree.css">
    <link rel="stylesheet" href="/resources/asset/layext/dtree/font/dtreefont.css">
    <!--引入markdown基础样式-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@latest/dist/index.classic.css">
{{end}}

{{define "content"}}
    <form class="layui-form" id="j-form" action="{{if .result}}/backend/article/content/update/{{.result.ID}}{{else}}/backend/article/content{{end}}" method="{{if .result}}put{{else}}post{{end}}">
        <div class="layui-form-item">
            <div class="layui-inline" style="width: 30%;">
                <input type="text" name="title" value="{{.result.Title}}" lay-verify="required" placeholder="请填写标题" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-inline">
                <ul id="j-category" class="dtree" data-id="0"></ul>
            </div>

            <div class="layui-inline" style="width: 20%">
                <div class="xm-select-demo" id="j-tags"></div>
            </div>

            <div class="layui-inline" style="width: 10%;">
                <div class="xm-select-demo" id="j-online"></div>
            </div>

            <div class="layui-inline">
                {{._token}}
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal layui-icon layui-icon-down" id="j-more-btn">
                    更多
                </button>
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="listen" id="j-listen">
                    提交
                </button>
                <a href="/backend/article/content" class="layui-btn layui-btn-sm layui-btn-primary">
                    取消
                </a>
            </div>
        </div>

        <div class="layui-form-item" id="j-more">
            <div class="layui-inline" style="width: 40%">
                <input type="text" name="coverPC" value="{{.result.CoverPC}}" placeholder="PC封面图片路径" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-inline" style="width: 40%">
                <input type="text" name="coverWap" value="{{.result.CoverWAP}}" placeholder="WAP封面图片路径" autocomplete="off" class="layui-input">
            </div>
            <br>
            <div class="layui-inline" style="width: 40%">
                <input type="text" name="keywords" value="{{.result.Keywords}}" placeholder="页面SEO关键词" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-inline" style="width: 40%">
                <input type="text" name="description" value="{{.result.Description}}" placeholder="页面SEO描述" autocomplete="off" class="layui-input">
            </div>
            <br>
            <div class="layui-inline" style="width: 40%">
                <input type="text" name="origin" value="{{.result.Origin}}" placeholder="文章来源地址" autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
    <div id="j-editor"></div>
{{end}}

{{define "js"}}
    <!--引入markdown编辑器-->
    <script src="https://cdn.jsdelivr.net/npm/vditor@latest/dist/index.min.js"></script>
    <script type="text/javascript" src="/resources/asset/backend/article/content/common.js"></script>
    <script>
        var acceptMimeTypes = "{{.acceptMimeTypes}}";
        var contentID = {{.result.ID}};
        layui.use(['form', 'layer', 'jquery', 'xmSelect', 'dtree'], function() {
            var form = layui.form;
            var layer = layui.layer;
            var $ = layui.jquery;
            var xmSelect = layui.xmSelect;
            var dtree = layui.dtree;

            Promise.all([Content.getInstance(contentID), CategoryList.getInstance(), TagList.getInstance(), Online.getInstance()]).then(function([content, categoryList, tagList, online]) {
                return new Promise(function(resolve, reject) {
                    resolve({
                        content:content
                        ,categoryList:categoryList.process(content)
                        ,tagList:tagList.process(content)
                        ,online:online.process(content)
                    });
                });
            }).then(function (result) {
                //渲染分类
                const categoryObj = dtree.render({
                    elem: "#j-category",
                    selectInputName:{nodeId: "categoryID",  context: "categoryTitle"},
                    selectTips: "请选择分类",
                    accordion: true,  // 开启手风琴
                    select: true, //指定下拉树模式
                    width: "100%",
                    initLevel:2, //默认展开层级，当该值大于level时，则会展开树的节点，直到不大于当前待展开节点的level
                    dataFormat: "list", // 用于用户配置的data的数据格式,list:数组格式，levelRelationship：层级关系格式。
                    skin: "layui",  // laySimple主题风格
                    selectInitVal:''+result.content.getCategory(), //这里要转成string类型，否则出错
                    data: result.categoryList
                });

                //渲染标签
                const tagObj = xmSelect.render({
                    el: '#j-tags',
                    toolbar: {
                        show: true,
                    },
                    tips:'请选择标签',
                    paging: true,
                    size: 'small',
                    pageSize: 10,
                    max: 3,
                    data: result.tagList,
                    filterable: true,
                    create: function(val, arr) {
                        if(arr.length > 0) {
                            return ;
                        }
                        var value = val;
                        $.ajax({
                            url: "/backend/article/content/tag",
                            async:false,
                            data: {name: val, _token: _token()},
                            type: "post",
                            success: function (json) {
                                if (json.code !== 0) {
                                    submit.alertError(json.message);
                                } else {
                                    value = json.data;
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                reject();
                                submit.alertError(textStatus+errorThrown);
                            }
                        });
                        return {
                            name: val,
                            value: value
                        }
                    }
                });

                //渲染上下线
                const onlineObj = xmSelect.render({
                    el: '#j-online',
                    tips:'请选择上下线',
                    size: 'small',
                    radio: true,
                    clickClose: true,
                    data: result.online
                });

                //渲染编辑器
                let vEditorObj = null;
                vEditorObj = new Vditor('j-editor', {
                    placeholder:'请输入文章内容',
                    cache:false,
                    counter: 65535,
                    height: $(window).height() - 93,
                    width:"100%",
                    tab: '\t',
                    mode:'markdown-show',
                    upload: {
                        accept: acceptMimeTypes,
                        handler (files) {
                            var formDataArr = [];
                            var token = _token();
                            for(var i in files) {
                                var formData = new FormData();
                                formData.append('_token', token);
                                formData.append('file', files[i]);
                                formDataArr.push(formData);
                            }
                            Uploads.getInstance(formDataArr).then(function (result) {
                                vEditorObj.insertValue(result.getMarkdownText());
                            }).catch(function(rej) {
                                submit.alertWarning(rej.toString());
                            });
                        },
                    },
                    preview: {
                        hljs:{
                            enable:true,
                            style:'monokai',
                            lineNumber:true
                        },
                        mode: 'both',
                        parse: (element) => {
                            lazyLoadImage()
                        },
                    },
                    after: function () {
                        //压入文章内容
                        vEditorObj.setValue(result.content.getBody());
                    }
                });

                //绑定提交表单
                form.on('submit(listen)', function(data) {
                    //构造表单参数
                    var formData = new FormData();
                    for(var i in data.field) {
                        formData.append(i, data.field[i]);
                    }

                    //收集标签参数
                    tagObj.getValue('value').forEach(function (v, k) {
                        formData.append('tagsID[]', v);
                    });
                    //收集上下线参数
                    onlineObj.getValue('value').forEach(function (v, k) {
                        formData.append('online', v);
                    });

                    //收集文章内容
                    formData.append('body', vEditorObj.getValue());

                    //发送请求
                    var request = new XMLHttpRequest();
                    var f = $("#j-form");
                    request.open(f.attr('method'), f.attr('action'));
                    request.onload = function(oEvent) {
                        let currentTarget = oEvent.currentTarget;
                        if(currentTarget.status !== 200) {
                            submit.alertError(currentTarget.status+' '+currentTarget.statusText);
                            return '';
                        }
                        let json = JSON.parse(currentTarget.response);
                        if(json.code === 0) {
                            vEditorObj.clearCache();
                            layer.tips(json.message, '#j-listen', {
                                tips: [1, '#FFB800'],
                                time:1000,
                                end: function () {
                                    if(!contentID) {
                                        window.location.href = '/backend/article/content/create';
                                    }
                                }
                            });
                        }else {
                            submit.alertError(json.message);
                        }
                    };
                    request.send(formData);
                    return false;
                });
            }).catch(function (rej) {
                console.error(rej);
                submit.alertError(rej.toString())
            });
        });
    </script>
{{end}}