{{define "title"}}内容{{end}}

{{define "css"}}{{end}}

{{define "content"}}
    <a class="layui-btn layui-btn-sm" href="/backend/article/content/create">新增</a>
    <table id="j-table" lay-filter="j-table"></table>
{{end}}

{{define "js"}}
    <script>
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#j-table'
                ,url: '/backend/article/content' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'ID', title: 'ID', sort: true, fixed: 'left'}
                    ,{field: 'Title', title: '标题'}
                    ,{field: 'Online', title: '上下线', sort: true}
                    ,{field: 'CreatedAt', title: '创建时间', templet:function (data) {
                        console.log(data);
                    }}
                    ,{field: 'UpdatedAt', title: '更新时间'}
                ]]
            });
        });
    </script>
{{end}}