<style>
    body{
        margin: 0;
        padding: 20px;
        width: 100%;
        height: 100%;
        color: #B0BEC5;
        font-weight: 100;
        font-size: 3.6rem;
    }
</style>
<div>{{if .message }} {{message .message}} {{end}}</div>
{{if .url }}
页面自动 <a id="j-href" href="{{.url}}">跳转</a> <a href="javascript:;" onclick="jump.stop()">停止</a> 等待时间： <b id="j-wait">{{.wait}}</b>
<script type="text/javascript">
    var jump = {
        _wait:3,
        _url: '',
        _interval:0,
        init: function() {
            this._wait = document.getElementById('j-wait');
            this._url = document.getElementById('j-href').href;
        },
        start: function() {
            var that = this;
            this.interval = setInterval(function() {
                var time = --that._wait.innerHTML;
                if(time <= 0) {
                    that.stop();
                    window.location.href = that._url;
                }
            }, 1000);
        },
        stop: function() {
            clearInterval(this.interval);
        }
    };
    jump.init();
    jump.start();
</script>
{{end}}
