<style>
    body{
        margin: 0;
        padding: 20px;
        width: 100%;
        height: 100%;
        color: #B0BEC5;
        font-weight: 100;
        font-size: 3.6rem;
    }
</style>
<div>{{if .message }} {{.message}} {{end}}</div>
{{if .url }}
页面自动 <a id="href" href="{{.url}}">跳转</a> 等待时间： <b id="wait">{{.wait}}</b>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>
{{end}}
