{{define "title"}}
    {{if .result}}新增{{else}}编辑{{end}}节点
{{end}}

{{define "css"}}{{end}}

{{define "content"}}
    <form class="layui-form" action="{{if .result}}/backend/rbac/node/update/{{.result.ID}}{{else}}/backend/rbac/node{{end}}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">
                父ID
            </label>
            <div class="layui-input-block">
                <input type="number" min="0"  name="Pid" value="{{if .result}}{{.result.Pid}}{{else}}{{.pid}}{{end}}" required lay-verify="required" placeholder="请输入父ID" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                节点名
            </label>
            <div class="layui-input-block">
                <input type="text" name="Name" value="{{.result.Name}}" required lay-verify="required" placeholder="请输入节点名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                访问路径
            </label>
            <div class="layui-input-block">
                <input type="text" name="URL" value="{{.result.URL}}" required lay-verify="required" placeholder="请输入访问路径" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                请求方法
            </label>
            <div class="layui-input-block">
                <input type="checkbox" name="methods" value="GET" {{if .result}}{{if "GET" | .result.HasMethod}}checked{{end}}{{end}} title="GET" lay-skin="primary">
                <input type="checkbox" name="methods" value="POST" {{if .result}}{{if "POST" | .result.HasMethod}}checked{{end}}{{end}} title="POST" lay-skin="primary">
                <input type="checkbox" name="methods" value="PUT" {{if .result}}{{if "PUT" | .result.HasMethod}}checked{{end}}{{end}} title="PUT" lay-skin="primary">
                <input type="checkbox" name="methods" value="DELETE" {{if .result}}{{if "DELETE" | .result.HasMethod}}checked{{end}}{{end}} title="DELETE" lay-skin="primary">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                后台菜单
            </label>
            <div class="layui-input-block">
                <input type="checkbox" name="IsMenu" {{if .result}}{{if eq .result.IsMenu 1}}checked{{end}}{{end}} value="1" lay-skin="switch">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                排序ID
            </label>
            <div class="layui-input-block">
                <input type="number" min="1" name="SortID" value="{{if .result}}{{.result.SortID}}{{else}}1991{{end}}" required lay-verify="required" placeholder="请输入排序ID" autocomplete="off" class="layui-input">
            </div>
        </div>

        {{if not .result }}
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block" title="自动生成 新增、保存、编辑、更新、删除、查看的路由">
                    <input type="checkbox" name="restful" value="1" title="生成RESTful API">
                </div>
            </div>
        {{end}}

        <div class="layui-form-item">
            <div class="layui-input-block">
                {{._token}}
                {{if .result}}<input type="hidden" name="_method" value="put">{{end}}
                <button class="layui-btn layui-btn-sm" lay-submit>
                    提交
                </button>
                <a href="/backend/rbac/node" class="layui-btn layui-btn-sm layui-btn-primary">
                    取消
                </a>
            </div>
        </div>
    </form>
{{end}}

{{define "js"}}
    <script>
        layui.use('form', function() {
            var form = layui.form;
        });
    </script>
{{end}}