{{define "extend"}}
    backend/layout/layout.html
{{end}}

{{define "title"}}
    服务器重启
{{end}}

{{define "css"}}
    <!--引入核心样式-->
    <link rel="stylesheet" href="/resources/asset/codemirror/lib/codemirror.css">
    <script src="/resources/asset/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/resources/asset/codemirror/theme/monokai.css">
{{end}}

{{define "content"}}
    <form class="layui-form" action="/backend/server/reset/start" method="post">
        <div class="layui-form-item">
            <textarea id="j-config" name="config">{{.config}}</textarea>
        </div>
        <div class="layui-form-item">
            {{._token}}
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="submit">
                立即重启服务器
            </button>
            <span id="j-pid">pid：{{.pid}}</span>
        </div>
    </form>
{{end}}

{{define "js"}}
    <!--匹配括号-->
    <script src="/resources/asset/codemirror/addon/edit/matchbrackets.js"></script>
    <!--初始化编辑器-->
    <script>
        //定义编辑器变量
        var editor = null;
        var checkTimeout = {{.checkTimeout}};
        //表单提交
        layui.use(['form', 'jquery', 'layer'], function () {
            layui.form.on('submit(submit)', function(data) {
                var loading = layui.layer.load(1, {
                    shade: [0.1, '#fff']
                });
                data.field['config'] = editor.getValue();
                layui.jquery.post(data.form.action, data.field, function (json) {
                    if(json.code === 0) {
                        //检查重启是否成功
                        submit.alertWarning('正在重启，请稍等...');
                        var pid = json.data;
                        var interval = -1;
                        var intervalTime = 3000;
                        var checkMaxNum = parseInt((checkTimeout/intervalTime)*1000);
                        var checkNum = 0;
                        var check = function() {
                            if(checkNum >= checkMaxNum) {
                                layui.layer.close(loading);
                                submit.alertError('重启失败，请登录服务器检查错误日志');
                                if(interval !== -1) {
                                    clearInterval(interval);
                                }
                                return;
                            }
                            checkNum++;
                            layui.jquery.get('/backend/server/reset/check?pid='+pid, function (json) {
                                if(json.code === 0) {
                                    if(interval !== -1) {
                                        clearInterval(interval);
                                    }
                                    layui.layer.close(loading);
                                    submit.alertSuccess(json.message);
                                    layui.jquery("#j-pid").html('pid：'+json.data);
                                }
                            });
                        };
                        interval = setInterval(function () {
                            check();
                        }, 3000);
                    }else {
                        layui.layer.close(loading);
                        if(json.code === 1) {
                            submit.alertWarning(json.message);
                        }else {
                            submit.alertError(json.message);
                        }
                    }
                });
                return false;
            });
        });

        layui.use(['jquery', 'myUtil'], function () {
            var $ = layui.jquery;
            var myUtil = layui.myUtil;
            //根据文件后缀解析依赖
            var codeMirrorOption = myUtil.codeMirrorOptionMap('toml');
            //解析ss依赖
            var depends = '';
            for(var i in codeMirrorOption.depends.css) {
                depends += '<link rel="stylesheet" href="/resources/asset/codemirror/'+codeMirrorOption.depends.css[i]+'">';
            }
            //解析js依赖
            for(var i in codeMirrorOption.depends.js) {
                depends += '<script src="/resources/asset/codemirror/'+codeMirrorOption.depends.js[i]+'"><\/script>';
            }
            //加载依赖
            if(depends !== '') {
                $('body').append(depends);
            }
            //初始化编辑器
            editor = CodeMirror.fromTextArea(document.getElementById("j-config"), Object.assign({},codeMirrorOption.option,{
                theme: "monokai",
                indentWithTabs: true,
                smartIndent: true,
                lineNumbers: true,
                matchBrackets : true,
                indentUnit: 4,
                autofocus: true
            }));
            //设置宽高
            editor.setSize('auto', ($(window).height() - 117)+'px');
        });
    </script>
{{end}}