{{$url := (URL $.currentURL).SetPath "/"}}
{{range $_, $v := .categoryTree}}
    <li class="layui-nav-item {{if $.categoryID}}{{if eq $.categoryID $v.ID}}layui-this{{end}}{{end}}">
        {{if len $v.Children | eq 0}}
            <a href="{{if eq $v.Redirect ""}}{{$url.SetParam "categoryID" $v.ID}}{{else}}{{$v.Redirect}}{{end}}">{{$v.Name}}</a>
        {{else}}
            <a href="javascript:;">{{$v.Name}}</a>
            <dl class="layui-nav-child">
                {{range $_, $children := $v.Children}}
                    <dd class="{{if $.categoryID}}{{if eq $.categoryID $children.ID}}layui-this{{end}}{{end}}">
                        <a href="{{if eq $children.Redirect ""}}{{$url.SetParam "categoryID" $children.ID}}{{else}}{{$children.Redirect}}{{end}}">{{$children.Name}}</a>
                    </dd>
                {{end}}
            </dl>
        {{end}}
    </li>
{{end}}
{{if .user}}
    <li class="layui-nav-item ">
        <a href="javascript:;">{{.user.Nickname}}<span class="layui-nav-more"></span></a>
        <dl class="layui-nav-child layui-anim layui-anim-upbit">
            <dd class="">
                <a target="_blank" href="/backend/skeleton">进入后台</a>
            </dd>
            <dd class="">
                <a href="/backend/sign?_method=delete&redirect={{(URL $.currentURL).String}}">退出登录</a>
            </dd>
        </dl>
    </li>
{{else}}
    {{if .github}}
        <li class="layui-nav-item ">
            <a href="{{.github}}">Github登录</a>
        </li>
    {{end}}
{{end}}