{{define "extend"}}
	frontend/layout/layout.html
{{end}}

{{define "title"}}
	<title>{{.config.Get "Name"}}</title>
	<meta name="keywords" content="{{.config.Get "Keywords"}}">
	<meta name="description" content="{{.config.Get "Description"}}">
{{end}}

{{define "css"}}

{{end}}

{{define "content"}}
	<!--头部-->
	<div class="header">
		<!--logo-->
		<div class="logo float-left">
			<a href="/">
				<img src="/resources/asset/frontend/images/logo.png" alt="" class="image">
				<span class="text">{{.config.Get "Name"}}</span>
			</a>
		</div>
		<!--导航-->
		<div class="nav float-right">
			<ul class="layui-nav">
				{{template "frontend/index-menu.html" .}}
			</ul>
		</div>
		<!--汉堡按钮-->
		<a href="javascript:;" class="hamburger-btn float-right">
			<i class="layui-icon layui-icon-more"></i>
		</a>
		<!--汉堡导航-->
		<ul class="layui-nav layui-nav-tree hamburger-nav" id="j-categoryID" data-categoryID="{{.categoryID}}">
			{{template "frontend/index-menu.html" .}}
		</ul>
	</div>
	<!--主体内容-->
	<div class="container">
		<div class="wrap">
			<!--左侧数据-->
			<div class="article">
				<!--文章列表-->
				<ul class="list">
					{{range $_, $v := .contentList}}
						<li>
							<div class="title">
								<a href="/article/{{$v.ID}}.html">
									{{$v.Title}}
									{{if len $v.Origin | eq 0}}
										<span class="layui-badge layui-bg-green">原创</span>
									{{else}}
										<span class="layui-badge layui-bg-orange">转载</span>
									{{end}}
								</a>
							</div>
							<div class="extra">
								<span class="layui-badge layui-bg-gray">
									<svg class="icon icon-w15" aria-hidden="true">
										<use xlink:href="#icon-shizhong"></use>
									</svg>
									{{$v.CreatedAtText}}
								</span>
								<span class="layui-badge layui-bg-gray">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-eye"></use>
									</svg>
									{{$v.Hits}}
								</span>
							</div>
						</li>
					{{end}}
				</ul>
				<!--文章分页-->
				<div class="more">
					{{$url := URL $.currentURL}}
					{{if gt .prePage 0}}
						<a class="layui-btn layui-btn-primary layui-btn-sm" href="{{$url.SetParam "page" .prePage}}">上一页</a>
					{{end}}
					{{if eq (len .contentList) .limit}}
						<a class="layui-btn layui-btn-primary layui-btn-sm" href="{{$url.SetParam "page" .nextPage}}">下一页</a>
					{{end}}
				</div>
			</div>
			<!--右侧数据-->
			<div class="aside">
				<!--搜索框-->
				<div class="search">
					<form class="layui-form" action="/">
						<i class="layui-icon layui-icon-search" onclick="this.parentNode.submit();"></i>
						<input type="text" name="keyword" value="{{.keyword}}" placeholder="Search …" autocomplete="off" class="layui-input">
					</form>
				</div>
				<!--标签-->
				<div class="tag" id="j-tag" data-tagID="{{.tagID}}"></div>
				<!--归档-->
				<div class="place" id="j-place" data-place="{{.place}}"></div>
			</div>
		</div>
	</div>
	<!--底部-->
	<div class="footer">
		{{.config.GetToHTML "Footer"}}
	</div>
{{end}}

{{define "js"}}

{{end}}
