{{define "extend"}}
    backend/layout/layout.html
{{end}}

{{define "title"}}配置{{end}}

{{define "css"}}{{end}}

{{define "content"}}
    <table class="layui-table" lay-skin="nob">
        <thead>
        <tr>
            <td>站点信息</td>
            <td>SiteInfo</td>
            <td colspan="2">全站基本配置</td>
            <td>删除</td>
        </tr>
        </thead>
    </table>
    <table class="layui-table" lay-skin="row">
        <tbody>
        <tr>
            <td>站点名称</td>
            <td>Name</td>
            <td>fool</td>
            <td>本站名称</td>
            <td>删除</td>
        </tr>
        </tbody>
    </table>
{{end}}

{{define "js"}}

{{end}}