{{define "extend"}}
    backend/layout/layout.html
{{end}}

{{define "title"}}配置分组{{end}}

{{define "css"}}{{end}}

{{define "content"}}
    <script type="text/html" id="j-toolbar">
        <div class="layui-btn-container">
            <a class="layui-btn layui-btn-sm" href="/backend/config/group/create">新增</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger" href="javascript:;" lay-event="del-batch">批量删除</a>
        </div>
    </script>
    <table id="j-table" lay-filter="j-table"></table>
{{end}}

{{define "js"}}
    <script>
        layui.use(['table', 'jquery', 'form'], function() {
            var table = layui.table;
            var $ = layui.jquery;
            var form = layui.form;

            //渲染表格
            var tableOption = {
                elem: '#j-table'
                ,url: '/backend/config/group' //数据接口
                ,toolbar: '#j-toolbar' //开启头部工具栏，并为其绑定左侧模板
                ,page: {
                    curr: 1,
                    where:{},
                } //开启分页
                ,cols: [[ //表头
                    {field: 'ID', type: 'checkbox', fixed: 'left'}
                    ,{field: 'ID', title: 'ID', sort: true, fixed: 'left', width:100}
                    ,{field: 'Name', title: '名称'}
                    ,{field: 'Key', title: '字段'}
                    ,{field: 'Comment', title: '备注'}
                    ,{field: 'UpdatedAt', title: '更新时间'}
                    ,{fixed: 'right', title:'操作', templet:function (data) {
                            let btn = '';
                            btn += '<a class="layui-btn layui-btn-sm" href="/backend/config/group/edit/'+data['ID']+'">编辑</a>';
                            btn += '<a class="layui-btn layui-btn-sm" lay-event="item">项目</a>';
                            btn += '<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del" id="j-del'+data['ID']+'" style="display:'+(data['ContentNum'] > 0 ? 'none' : '')+';">删除</a>';
                            return btn;
                        }}
                ]]
            };
            var tableIns = table.render(tableOption);

            //监听表格头部操作按钮
            table.on('toolbar(j-table)', function(obj) {
                //批量删除
                if(obj.event === 'del-batch') {
                    var checkStatus = table.checkStatus(obj.config.id);
                    if(checkStatus.data.length === 0) {
                        submit.alertWarning('请勾选数据');
                        return '';
                    }
                    layer.confirm('确定删除吗？', {icon: 3}, function(index) {
                        var param = {ids:[], _method:'put', _token:_token()};
                        checkStatus.data.forEach(function (v) {
                            param.ids.push(v['ID']);
                        });
                        $.post('/backend/config/group/delete-batch', param, function (json) {
                            if(json.code === 0) {
                                layer.close(index);
                                table.reload(obj.config.id, obj.config);
                            }else {
                                submit.alertError(json.message);
                            }
                        });
                    });
                }
            });

            //监听表格右侧操作按钮
            table.on('tool(j-table)', function(obj) {
                var data = obj.data;
                //单个删除
                if(obj.event === 'del') {
                    layer.confirm('确定删除吗？', {icon: 3}, function(index) {
                        $.get('/backend/config/group/delete/'+data['ID']+'?_method=delete', function (json) {
                            if(json.code === 0) {
                                obj.del();
                                layer.close(index);
                            }else {
                                submit.alertError(json.message);
                            }
                        });
                    });
                }
                if(obj.event === 'item') {
                    console.log(data);
                    layui.use(['layer'], function () {
                        var layer = layui.layer;
                        var index = layer.open({
                            type: 2,
                            title: data.Name,
                            shadeClose: true,
                            shade: 0.8,
                            area: ['80%', '80%'],
                            content: '/backend/config/item?groupID='+data.ID
                        });
                    });
                }
            });
        });
    </script>
{{end}}